@font-face { font-family: Archivo; font-style: normal; font-weight: 500; font-display: swap; src: url(../ui/assets/archivo-latin-500-normal-CGugC8dq.woff2) format("woff2"); }
@font-face { font-family: Archivo; font-style: normal; font-weight: 700; font-display: swap; src: url(../ui/assets/archivo-latin-700-normal-D9cHMWGj.woff2) format("woff2"); }
